body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin: 0;
  }
  
  #search {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 60%;
    max-width: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  #map {
    height: 90vh;
    width: 100%;
    border-top: 2px solid #ccc;
  }
  